---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//fractional variables
$small: 320px;
$small-wrapper: 300px;
$medium: 768px;
$medium-wrapper: 750px;
$large: 1024px;
$large-wrapper: 1000px;
$spacing: 20px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "grid"
;
