<form method="post" action="http://formspree.io/bpking15@gmail.com" >
  <input type="text" name="name" placeholder="What's your name?" />
  <input type="text" name="_replyto" placeholder="What's your email address?" />
  <input type="text" name="_subject" placeholder="What's this about?" />
  <input type="text" name="_gotcha" style="display:none" />
  <input type="hidden" name="_next" value="kingbryan.me/success.html" />
  <textarea  name="message" placeholder="Type your message here."></textarea>
  <input type="submit" class="btn-solid whole" />
</form>
