<footer>
  <div class="wrapper">
    <ul class="social-links">
      <li><a href="https://twitter.com/kingbryandotme">@kingbryandotme</a></li>
      <li><a href="https://github.com/kingbryan">GitHub</a></li>
      <li><a href="https://codepen.io/kingbryan">Codepen.io</a></li>
      <li><a href="https://www.linkedin.com/in/bryan-king-a4619b89">LinkedIn</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a></li>
    </ul>
    <p class="copyright">Bryan King &copy; <script>new Date().getFullYear()>2010&&document.write(+new Date().getFullYear());</script>
  </div>
</footer>

<!--footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer-->
