/*Navigation*/
.nav-top {
  height: $nav-top-height;
  line-height: 40px;
  //border-bottom: 1px solid black;

  .logo {
    padding: $spacing 0px;
    float: left;
    font-size: 40px;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }

  }

  .menu-icon {
    display: none;
    width: 40px;
    padding: $spacing 0px;
  }

  ul {

    padding: $spacing 0px;

    li {
      display: inline;
      padding: $spacing;
      line-height: 20px;
    }
  }

  .nav-items .page-link {
    text-decoration: none;
    font-weight: 500;
  }

}

@media all and (min-width: $medium){

  .nav-items {
    display: block;
  }

}


@media all and (max-width: $medium){
  .nav-top {

    .menu-icon {
      display: block;
    }

    .nav-items {
      width: 100%;
      display: none;
      padding-bottom: $spacing;
    }

    ul {

      padding: 0;

      li {
        display: block;
      }
    }
  }
}

.post-list .post:first-of-type {
  padding-top: 0px;
}

/* end navigation*/

/* posts */
.post {
  list-style: none;
  padding: $spacing 0;

  .post-meta {
    margin: $spacing / 2 0;
  }

}

/*end posts*/

/* footer */
footer {
  text-align: center;
  padding: $spacing;
}
